<div class="container margin-auto">
    <div class="card m-auto" style="width: fit-content;">
          <div class="card-header text-center">
              <h2 class="card-title">Group F</h2>
              <h6 class="card-subtitle mb-2 text-muted">Team Members</h6>
          </div>
          <div class="card-body p-4">
          <div class="card-text"><table>
            <tr><td>Sugam Sugam</td><td>C0810908</td></tr>
            <tr><td>Vishnuvardhan Pabbathi</td><td>C0810861</td></tr>
            <tr><td>Kuladeep Perumalla</td><td>C0808003</td></tr>
            <tr><td>Pawan Gulati</td><td>C0809467</td></tr>
            <tr><td>Pratik Doshi</td><td>C0808374</td></tr>
            <tr><td>Vasanth Duraipandi</td><td>C0790134</td></tr>
        </table></div>
        </div>
      </div>
</div>
