<header><nav class="navbar navbar-expand-sm navbar-light bg-light mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Group F</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/reservation">Reservations</a>
        <a class="nav-link" routerLink="/history">History</a>
        <a class="nav-link" routerLink="/info">Information</a>
        <a class="nav-link" routerLink="/about">About Us</a>
      </div>
    </div>
  </div>
</nav></header>
<router-outlet></router-outlet>
