<div class="container margin-auto">
    <div class="card m-auto" style="width: fit-content;">
        <div class="card-header text-center">
            <h2 class="card-title">Hotel Reservation System</h2>
            <h6 class="card-subtitle mb-2 text-muted">Information</h6>
        </div>
        <div class="card-body">
            <div class="card-text fs-6">
                <p>Hotel Reservation Sysytem is made using MEAN stack : 
                    MongoDB, Express JS, Angular 13 and Node JS. The
                    app takes user reservation and stores it in the database. <br> There are two parts to the app:</p>
                <ul>
                    <li>Frontend, Built using Angular and Bootstrap to take
                        user input and provide opportunity to modify
                        or delete it, modify and delete existing reservations from the reservations table
                    </li>
                    <li>Backend, built using Express JS along with Mongoose 
                        handles the incoming requests on predefined
                        port and URLs while communicating with DB to perform necessary CRUD operations for the received
                        request.</li>
                </ul>
                <p>The app by default lands on the reservation page where user can fill in the form and create a reservation. When user clicks the Submit button, all details are collected from the form and sent the Backend Server using reservation service. If the Opertaion is successfull, an expansion panel will appear on the screen with the reservation id and other details along with an option to modify the created reservation.</p>
            </div>
        </div>
    </div>
</div>